@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background: silver;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 50px auto;
}

.resume .resume_left {
  width: 280px;
  background: #1D2951;
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 250px;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_left .regular {
  color: #b1eaff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #1D2951;
  }
  .title label{
    color: #fff;
    font-weight: bold;
  }
  .title input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: inherit;
    padding-left: 10px;
  }
  .subT p{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
  }
  .data label{
    color:#fff;
    font-weight: bold;
  }
  .data input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: inherit;
  }
.input{
  height: 30px;
  padding-left: 10px;
}
.textarea{
  resize: none;
  height: 110px;
  background: transparent;
  padding-left: 10px;
  color: #fff;
}
.textaread{
  height: 200px;
  background: transparent;
  color: #fff;
}
.text textarea{
  height: 160px;
  padding-left: 10px;
  background: transparent
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}
/* IDEA: welcome to the rigt hand SIDE */
.resume .resume_right {
  width: 520px;
  background: #4F518C;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #fff;
}
.textarea2{
  height: 130px;
  width: 90%;
  color: #fff;
  padding-left: 10px;
}
  .txt3{
    height: 60px;
  }
  .job label{
    color: #fff;
    font-weight: bold;
  }
  .job2 label{
    color: #fff;
    font-weight: bold;
  }
  .job2 input{
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    color: inherit;
    background-color: transparent;

  }
.job input{
  height: 30px;
  width: 50%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  color: inherit;
  background-color: transparent;
}
.edu label{
  color: #fff;
  font-weight: bold;
}
.edu input{
  height: 30px;
  width: 50%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  color: inherit;
  background-color: transparent;
}
.job .info{
  height: 30px;
}
.textarea2{
  background: transparent;
  padding-left: 10px;
}

.topnav {
  overflow: hidden;
  background-color: 001011;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2B3A67 ;
  color: white;
}

.topnav a.download {
  background-color: #009fd9;
}

.topnav a.upload  {
  background-color: aquamarine;
}